body {
    padding: 0;
    margin: 0;
    background: #F7F7F7;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  }
  
  /** Header styles **/
  .header {
    background-image: url(https://lh3.googleusercontent.com/KoCXOIlh1hnV-y6yqpwnrwDqnuePrHxCi_ef29-GMhHsLrXba_JzFc6wkyQE7TlGKPaW7TX5f_lbKSf1IR4X-X6EW1O_Ng-1TlL0boBCkTlhiIZvUEFC0EMTB_71qVTCWdzDGw5ka5di5m-WP-YneVqThQYgzil6S4LkEjaoxnPviajIzLYOlk1gsN6XkAVToW_PhnDLypidsjMp5jGCLK66q3UrlvBTU0T1i2nY7DM63hqYrk27kPCP-JG2gedfq784EUsmf58APc9S4rqOxfz4Y4EjQcaT-BdGum7w29zN6tPCaLU4EPmD_ExdPEaXBb9E4a2Wut2juowZYnZLqsIcUIeWtMvU_1-0g7z-YiDAUfr7jWEqPX2RYbXfyIJ5bGyR70LLmFDDOjemrCIpKgCe16XH_j-ncErYGNEDAbdYk64z6sDQttHUyHYHg2jH_F00_bpJg0bKoivPZHbXrowFvoIBHLW5Q6kvQ63QrDAKMhFpMENbA0bxiD-ii8AbN6Ig94OcVH6JSB7nlhJ4LTr--ZqAHbQjUBhOcep4aIWaKCBx7tY43BIY1XBJ9K-WdR1Tqlc8DkPTH2L2Z8aBv3U26T0zdBs1eWZWOAgAqDyF0xPZS5Uj7L9gyDgCmDQZ5EqN9gKfeFRHX2VBut84Jf9d1GSJGRI=w370-h657-no);
    height: 400px;
    background-position: center center;
  }
  
  .roasting {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: whitesmoke;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }
  
  .roasting p {
    color: #938E89;
    text-align: center;
    line-height: 24px;
    font-family: 'Indie Flower', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .spectrum div {
    font: inherit;
    padding: 0 20px;
    color: #FFFFFF;
    overflow: auto;
    opacity: 0.9;
  }
  
  .spectrum p {
    color: #FFFFFF;
    text-align: left;
  }
  
  /* Roast types */
  .green {
    background-color: DarkSeaGreen;
  }
  
  .light {
    background-color: Sienna;
  }
  
  .city {
    background-color: SaddleBrown;
  }
  
  .vienna {
    background-color: Brown;
  }
  
  .italian {
    background-color: Black;
  }
  
  /* Typography */
  h1 {
    color: #b34250;
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: 100px;
    line-height: 76px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 70%;
  }
  
  h2 {
    color: #E4BB97;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  
  h3 {
    color: #41292C;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }
  
  h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: .2em;
    font-weight: 300;
  }
  
  /* Page elements */
  ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
  
  li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
  }
  
  p {
    color: #444444;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
  }
  
  a {
    color: #214E34;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
  footer p{
      text-align: center;
      font-size: small;
  }
